@use "./colors.scss" as colors;

.h5p-checkbox-list {
  background-color: colors.$color-background;
  color: colors.$color-text;
}

.h5p-checkbox-list-description {
  & > * {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
  }
  &.required > :last-child:after {
    color: #da0001;
    content: "*";
    font-size: 1.1em;
    padding-left: 4px;
  }
}
